{% extends "layout.html" %}

{% block body %}
<div class="best_burgers_area">
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Meal Menu</span>
                        <h3>Select your meal options</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-subtitle">
                        <h2>Place your order</h2><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                     <div class="card-subtitle">
                         <h3>Select your Maincourse(base)</h3>
                     </div>
                 </div>
            </div>
            <div class="row">
                {% for base in bases %}
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget text-center ">
                            <p><img src="static/img/meal/{{base.id}}.png" id="base_image"></p>
                            <h3 class="footer_title pos_margin">
                                    <input class="primary-radio" type="radio" id="base_{{ base.id }}" name="base_id" value="{{ base.id }}"> {{ base.item_name}}
                            </h3><p>{{ base.item_description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                     <div class="card-subtitle">
                         <h3>Select your Topping (protein)</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for protein in proteins %}
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget text-center ">
                            <p><img src="static/img/meal/{{protein.id}}.png" id="base_image"></p>
                            <h3 class="footer_title pos_margin">
                                    <input class="primary-radio" type="radio" id="protein_{{ protein.id }}" name="protein_id" value="{{ protein.id }}"> {{ protein.item_name}}
                            </h3><p>{{ protein.item_description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                     <div class="card-subtitle">
                         <h3>Select two sides</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for side in sides %}
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget text-center ">
                            <p><img src="static/img/meal/{{side.id}}.png" id="side_image"></p>
                            <h3 class="footer_title pos_margin">
                                    <input class="primary-checkbox" type="checkbox" id="side_{{ side.id }}" name="side_id" value="{{ side.id }}"> {{ side.item_name}}
                            </h3><p>{{ side.item_description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                     <div class="card-subtitle">
                         <h3>Select your dessert</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for dessert in desserts %}
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget text-center ">
                            <p><img src="static/img/meal/{{dessert.id}}.png" id="dessert_image"></p>
                            <h3 class="footer_title pos_margin">
                                    <input class="primary-radio" type="radio" id="dessert_{{ dessert.id }}" name="dessert_id" value="{{ dessert.id }}"> {{ dessert.item_name}}
                            </h3><p>{{ dessert.item_description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group mt-3">
                <button type="submit" id="add_lunch" class="button button-contactForm boxed-btn" onclick="addToCart()">Submit</button>
            </div>

        <br>

                <div class="progress-table-wrap">
					<div id="js_body" class="progress-table">
						<div class="table-head">
							<div class="visit"></div>
							<div class="percentage">Details</div>
							<div class="country">Price</div>
							<div class="serial">Qty</div>
							<div class="visit"></div>
						</div>

                        {% for item in items %}

				        <div id="{{item.id}}" class="table-row">
					        <div class="visit"><button class="genric-btn primary-border" onClick="removeCartItem({{item.id}})">Remove</button></div>
                            <div class="percentage">{{ item.base_name }}, {{item.protein_name}}, {{item.side1_name}} {{item.side2_name}}, {{item.dessert_name}}</div>
					        <div class="country">{{ price.amount }}</div>
                            <div class="serial"><input type="text" size="2" maxlength="2" id="quantity{{item.id}}" name="quantity{{item.id}}" value="1"></div>
					        <div class="visit"><button class="genric-btn primary-border" onClick="updateCartItem({{item.id}})">Update</button></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

        </br>
        <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">

            <div class="row">
                    <div class="col-lg-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="float-sm-left">
                                        Select Delivery Time
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" name="delivery_time">
                                            <option value="A">11:30am - 12 Noon</option>
                                            <option value="B">12 noon - 12:30pm</option>
                    `                       <option value="C">12:30pm - 1pm</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="full_name" id="full_name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="mobile_number" id="mobile_number" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mobile Number'" placeholder="Mobile Number">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="address1" id="address1" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Street Address'" placeholder="Street Address">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="address2" id="address2" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Street Address2'" placeholder="Street Address2">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="city" id="city" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="town" id="town" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Town'" placeholder="Town">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="post_code" id="town" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Post Code'" placeholder="Post Code">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="post_code" id="town" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Post Code'" placeholder="Post Code">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Submit</button>
                            </div>


                    </div>

                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                Asif
                            </div>
                        </div>

                    </div>
             </div>
        </form>
    </div>
        </section>
</div>


{% endblock %}
